@import '../../styles/variables.module.scss';

.scene {
  perspective: 500px;
  overflow: hidden;
  user-select: none;
}

.card {
  position: relative;
  max-width: 500px;
  height: 300px;
  background: #16181a;
  border: 1px solid rgba(250, 240, 240, 0.123);
  border-radius: 10px;
  margin: 0 auto;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
}

.shake {
  transform: translateX(-1%) rotateY(-3deg);
  transition: 0.3s ease-in-out;
}

.front,
.back {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  overflow: hidden;
}

.back {
  transform: rotateY(180deg);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.logo {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.info,
.data {
  p {
    user-select: text;
  }
}

.info {
  padding: 10px;
}

.data {
  padding: 20px 10px;
}

.qr {
  padding: 7px;
}

.token {
  padding: 7px;
}

@media only screen and (max-width: 480px) {
  .card {
    height: 256px;
  }

  .qr {
    padding: 0;
  }
}
