@import '../../styles/variables.module.scss';

.scene {
  perspective: 500px;
  overflow: hidden;
  user-select: none;
}

.card {
  position: relative;
  max-width: 500px;
  height: 300px;
  background: #16181a;
  border: 1px solid rgba(250, 240, 240, 0.123);
  border-radius: 10px;
  margin: 0 auto;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
}

.shake {
  transform: translateX(-1%) rotateY(-3deg);
  transition: 0.3s ease-in-out;
}

.front,
.back {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  overflow: hidden;
}

.back {
  transform: rotateY(180deg);
}

.flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.logo {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.back {
  .logo {
    justify-content: flex-start;
  }
}

.info,
.data {
  p {
    user-select: text;
  }
}

.info {
  padding: 10px;
}

.data {
  padding: 20px 10px;
}

.qr {
  background: #313234;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
  gap: 0.5rem;
}

.token {
  padding: 7px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 100px;
}

@media only screen and (max-width: 480px) {
  .card {
    height: 256px;
  }
}

.proactive {
  border: 3px solid #0000;
  border-radius: 50%;
  background: linear-gradient(#131219, #131219) padding-box,
    linear-gradient(var(--angle), #070707, #687aff) border-box;
  animation: 8s proactive linear infinite;
}

@keyframes proactive {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}
