@import '../../styles/variables.module.scss';

.wallet {
  margin-top: 1rem;
}

.row {
  margin: 0.5rem 0;
}

.button {
  margin: 5px !important;
  text-transform: none;
}

.name {
  margin-right: 0.75rem;
}

.action {
  background: linear-gradient(112deg, #06b7db -63.59%, #ff4ecd -20.3%, #0072f5 70.46%);
}

.switch {
  margin: 0 0.5rem;

  > div {
    background: #2b2f31 !important;
  }
}

@media only screen and (max-width: 480px) {
  .address {
    zoom: 0.75;
  }

  .radio > div {
    flex-direction: column;
  }
}
