$base-color: #0056d0;

:export {
  baseColor: $base-color;
}

// HELPERS

.m1 {
  margin: 1rem;
}

.mv1 {
  margin: 1rem 0;
}

.mt05 {
  margin-top: 0.5rem;
}

.ml05 {
  margin-left: 0.5rem;
}

.ml1 {
  margin-left: 1rem;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.flex {
  display: flex;
}

.ac {
  align-items: center;
}
